<div class="metlink-card">
  <div id="metlink-show">
    <%= render "travel/metlink/stop"  if @stop.present? %>
  </div>
  <div id="metlink-select" style="<%= @stop.present? ? 'display:none;' : ''%>">
    <%= render "travel/metlink/select_stop" %>
  </div>
</div>